/* style.css */
* {
margin: 0% ;
padding: 0%;

}

.container{
    background: #0E5E76 url('static/vector.svg') no-repeat;
    background-position: right;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: fixed; 
}

.main{
    display: flex;
    margin: 4%;
    margin-top: 5%;
    width: 40%;
    height: 60%;
    padding: 1%; 
}
#main-title{
    color: #EEF2D7;
    font-size: 3vw;
    font-weight: 300;
    position: relative;
    width: 400px;
    height: 100px;
    margin-top: 5%; 
}

#main-desc{
    color: #FEC3B1;
    font-size: 2.5vw;
    position: absolute;
    text-align: left;
    margin-top: 15%;
    margin-right: 40%;
    width: 40%;
    height: 40%;
}

#main-desc a{
    color: #FEC3B1;
}

.about-button{
    position: fixed;
    width: 6%;
    height: 5%;
    left: 93%;
    top: 3%;
    font-size: 1vw;
    margin-right: 90%;
    background: #FEC3B1;
    color: #0E5E76;
    border-radius: 40px;
    border: none;
    
}

.about-button:hover{
    transform: translate(0, -5px);
    box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.about-button:focus {
    outline: none;
  }

.sound-container{
    display: flex;
    position: fixed;
    width: 25%;
    height: 70%;
    left: 65%;
    margin-top: 10%;
    background: rgba(113, 177, 178, .2);
    border-radius: 45px;
    
}

.sound-title{
    display: flex;
    font-size: 3vw;
    justify-content: center;
    align-content: center;
    padding: 8%;
    padding-top: 15%;
    opacity: 100%;
    text-align: center;
    width: 90%;
    height: 25%;
    color:#0E5E76;
}

.sound-desc{
    font-size: 1.5vw;
    color:#0E5E76;
    width: 22%;
    height: 30%;
    margin-right: 25%;
    padding: 2%;
    margin-top: 12%;
    position: fixed;
    
}

.sound-icons{
    display: inline-flex;
    background: none;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    top: 80%;
    bottom: 20%;
    position: absolute;

}


#pause{
    display: inline-flex;
    cursor: pointer;
    background: url("static/pause.svg") no-repeat;
    outline: none;
    border: none;
    position: absolute;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 20%;
    margin-top: 10%;
    width: 20%;
    height: 65%;
    left: 45%;
    transition: .3s;

    opacity: 0;
  
 }


#play{
    display: inline-flex;
    background:url("static/play.svg") no-repeat;
    outline: none;
    border: none;
    position: absolute;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 20%;
    margin-top: 10%;
    width: 20%;
    height: 65%;
    left: 45%;
    transition: .3s;
    
}


/* #next{
    background: red;
    outline: none;
    border: none;
    display: inline-flex;
    position: absolute;
    cursor: pointer;
    padding-right: 10%;
    justify-content: center;
    margin-bottom: 20%;
    margin-top: 10%;
    width: 20%;
    height: 65%;
    left: 80%;
} */